* {
	margin: 0;
	padding: 0;
	font-family: "JetBrains Mono", monospace;
}

:root {
	--tab-size-val: 4;
	--bg-stop-1: #ffffff27;
	--bg-stop-2: #ffffff40;
}

body {
	min-height: 100vh;
	height: 100vh;
	color: white;
}

html {
	min-height: 100%;
	height: auto;
	background-attachment: fixed;
	background-image: linear-gradient(to bottom, black, rgb(0, 0, 48));
}

.container {
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: auto;
}

.container > * {
	margin: 10px;
}

select {
	color: white;
	background-color: transparent;
	border-radius: 4px;
}

hr {
	width: 95%;
	border: none;
	height: 1px;
	background-color: cyan;
}

h2 {
	opacity: 0.5;
}

option {
	color: black;
}

select:hover,
option:hover {
	cursor: pointer;
}

#fn {
	background-color: rgb(0, 0, 48);
	color: white;
	padding: 4px;
	caret-color: cyan;
	border-radius: 4px;
	border: 1px solid white;
}

.div-code {
	box-sizing: border-box;
	width: min(1000px, 80%);
	overflow: scroll;
	min-height: min(600px, 45%);
	color: white;
	padding: 12px;
	border-radius: 8px;
	tab-size: var(--tab-size-val);
	scrollbar-width: none;
	position: relative;
	z-index: auto;
	word-wrap: break-word;
	word-break: break-all;
	caret-color: cyan;
}

#code {
	white-space: pre;
}

.div-code::after {
	box-sizing: border-box;
	background-color: rgb(14, 0, 56);
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 12px;

	pointer-events: none;
	z-index: -1;
	inset: 2px;
	border-radius: 8px;
	transition: background-color 800ms ease;
}

.div-code > * {
	box-sizing: border-box;
	position: relative;
	z-index: 2;
}

.div-code::before {
	box-sizing: border-box;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	inset: -4px;
	background-image: linear-gradient(45deg, cyan, magenta);
	z-index: -1;
	pointer-events: none;
	opacity: 0;
	scale: 0.75;
	transition: all 300ms ease;
}

.div-code:focus::before {
	opacity: 1;
	scale: 1;
}

.div-code:focus::after {
	background-color: rgb(51, 0, 206);
}

#output {
	min-height: min(300px, 20%);
}

.div-code:focus {
	outline: none;
}

.buttons {
	width: min(1000px, 80%);
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	column-gap: 20px;
}

.buttons > * {
	color: black;
	padding: 8px;
	width: 110px;
	border-radius: 4px;
	border: none;
	font-weight: 900;
	opacity: 1;
	scale: 1;
	transition: all 150ms ease-out;
}

.buttons > *:disabled {
	opacity: 0.5;
}

#compile-btn {
	background-color: yellow;
}

#compile-btn:hover {
	background-color: dodgerblue;
	cursor: pointer;
	color: white;
	box-shadow: 0 0 30px #00ffff7b;
	text-shadow: 0 0 3px white;
	scale: 1.1;
}

#import-btn,
#export-btn {
	background-color: white;
}

#import-btn:hover,
#export-btn:hover {
	background-color: #00ffff;
	cursor: pointer;
	box-shadow: 0 0 30px #81ffff7b;
	scale: 1.1;
}

#export-btn:disabled:hover {
	background-color: white;
	color: black;
	box-shadow: none;
	cursor: default;
	scale: 1;
}

.label {
	opacity: 0.5;
	font-style: italic;
	margin: 0 auto;
}

.token-type,
.token-error-msg {
	color: #f491ff;
}

.token-value {
	color: #d2ff8a;
}

.token-inst {
	color: #39cf8b;
	font-weight: 700;
}

.token-register {
	color: #9cdcfe;
	font-style: italic;
}

.token-flag {
	color: #ffff00;
}

.token-error {
	color: #ff0090;
	font-weight: 700;
}

details {
	align-self: flex-start;
	width: 80%;
}

summary {
	margin-left: 10px;
	font-weight: 800;
	transition: all 300ms ease;
}

summary:hover {
	cursor: pointer;
	color: dodgerblue;
}

details > *:not(summary) {
	margin-left: 32px;
}

details > h4 {
	color: #f491ff;
}

details code {
	color: #ff0090;
	background-color: black;
	border-radius: 4px;
	padding: 4px;
}

.highlight {
	color: cyan;
	text-shadow: 0 0 3px cyan;
}

table {
	margin-top: 10px;
}

th,
td {
	padding: 6px;
	border: 1px solid white;
}

th {
	background-color: white;
	color: black;
}

td {
	background-color: #ffffff29;
}

a {
	color: yellow;
	transition: all 300ms ease;
}

a:hover {
	color: #ffffa8;
	text-shadow: 0 0 2px white;
}

.code-block {
	width: inherit;
	padding: 16px 10px;
	margin-top: 6px;
	margin-bottom: 6px;
	background-color: #ffffff29;
	border-radius: 4px;
}

#file-list {
	width: 50%;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

#file-list li {
    list-style: none;
    padding: 10px;
	width: 100%;
	text-align: center;
    color: #d2ff8a;
	border-radius: 4px;
	border: 0.5px solid #ffffff8b;
	background-image: linear-gradient(var(--bg-stop-1), var(--bg-stop-2));
	opacity: 0.5;
	transition: all 400ms ease;
}

#file-list li:hover {
	opacity: 1;
	color: yellow;
	cursor: pointer;
}